body{
    background-color:rgba(2, 62, 138 ,.9);
}
h1{
    
    text-align: center;
    font-size: 70px;
    border-top:2px dashed rgba(0, 0, 0, .2);
    border-bottom: 2px dashed rgba(0, 0, 0, .2);
    padding: 20px 0;
    margin: 40px 0;
    background: rgba(255, 255, 255,.8);
    
}
.content{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
}
img{
    max-width: 100%;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
    margin-top: -20px;
    margin-bottom:  20px;
    color: rgba(202, 240, 248,.9);
    
    

}

.css-users{
    display: flex;
    flex-wrap:wrap;
    margin: 0;
    flex-basis: 60vh;
    order: 2;
    margin: 0 20px;
}

.users{
    display: flex;
    flex:1;
    min-width: 250px;
    color:rgba(3, 4, 94,.7);
    background:#fff;
    border: 1px solid rgba(202, 240, 248,.4);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    margin: 5px 5px 5px 5px;
    flex-direction: column;
    align-items: center;
    
}


#marg{
    margin: 0px 0px 0px 6px;
}

#btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 10px 0px;
}



 
